nav {
  margin: auto;
  padding-top: 1em;
  z-index: 10;
  position: fixed;
}

nav li {
  display: inline;
  margin: 1em;
  color: whitesmoke;
  cursor: pointer;
}

nav li > .active {
  border-bottom: rgba(240, 37, 115, 0.925) solid 2px;
}