@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Love+Ya+Like+A+Sister|Blinker|Montserrat|Special+Elite&display=swap");
* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

body {
	color: whitesmoke;
}

a:hover {
	text-decoration: none;
}

div {
	margin: 0;
	padding: 0;
}

nav ul {
	padding: 0;
	padding-top: 1em;
	margin-left: 35%;
	margin-right: 35%;
	padding-bottom: .5em;
	border-bottom: solid rgba(189, 174, 174, 0.671) 1px;
}

nav li {
  display: inline;
	margin: 1em;
	margin-left: 0;
	padding-left: 0;
  color: whitesmoke;
	cursor: pointer;
}

nav li > .active {
	border-bottom: rgba(240, 37, 115, 0.925) solid 2px;
}

#viewport {
	background-image: url(redpurpflower.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 50em;
	height: 100%;
	width: 100%;
	border: rgb(26, 2, 22) solid .08px;
	text-align: center;
}

.section {
	color: whitesmoke;
	/* border: #9999 solid;
	border-radius: 3px; */
	width: 40%;
	display: block;
	text-align: center;
	margin: 5em auto 15em auto;
	padding: 1.5em;
}

.prof-pic {
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 1em;
	border: whitesmoke solid 2px;
	border-radius: 2px;
}

.pic-holder {
	text-align: left;
}

.title {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.05em;
}

.info {
	padding-top: 1em; 
	font-size: .9em;
}

.title, .info {
	text-align: left;
	display: block;
	margin: auto;
	width: 90%;
}

.carousel-slide {
	width: 50%;
	margin: auto;
	display: block;
	margin-top: 1em;
	border: whitesmoke solid 2px;
	border-radius: 2px;
}

.video-container {
	margin-top: 1em;
}