@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Love+Ya+Like+A+Sister|Blinker|Montserrat|Special+Elite&display=swap");
* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	/* color: whitesmoke; */
}
html {
	height: 100%;
}
body {
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
#prof-pic {
	width: 30%;
	margin: auto;
	display: block;
}
.contain {
	color: whitesmoke;
	width: 70%;
	display: block;
	margin: auto;
	border: whitesmoke solid;
	margin-bottom: 5em;
}
#main-container {
	width: 100%;
	margin: auto;
	display: block;
	padding-top: 5em;
	padding-bottom: 50em;
	height: 100%;
	background-image: url(redpurpflower.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.main-title {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 1.75em;
	/* font-weight: bold; */
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 0.75em;
	letter-spacing: 0.05em;
}
.title {
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin: 1em;
	letter-spacing: 0.05em;
}
.subtitle {
	color: #a3a3c2;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 1em;
}
.blurb, .list-blurb {
	margin: 1em;
	font-size: .9em;
	text-align: center;
}
.info-title {
	font-weight: bold;
}
.info {
	padding-left: 10px;
}
.about-img, .blurb {
	width: 90%;
	display: block;
	margin: auto;
}
.about-img {
	padding: 0.5em 0;
}
.btn-white-outline {
	color: whitesmoke;
	border-color: whitesmoke;
}
.btn-black-outline {
	color: black;
	border-color: black;
}
.btn-white-outline, .btn-black-outline {
	font-family: 'Blinker', sans-serif;
	font-family: 'Finger Paint', cursive;
	text-align: center;
	border-radius: 50px;
	border-width: 2px;
	background-color: transparent;
	transition: background-color 200ms, color 200ms;
}
.btn-white-outline:hover {
	background-color: whitesmoke;
	border-color: whitesmoke;
	color: black;
	cursor: pointer; 
}
.btn-black-outline:hover {
	background-color: black;
	border-color: black;
	color: white;
  cursor: pointer; 
}
.btn-schedule,
.btn-buy,
.btn-submit {
	height: 3em;
	padding: 0 1em;
	margin-top: 1.1em;
}
.btn-schedule {
	display: block;
	margin: auto;
	margin-top: 2em;
}
.btn-submit {
	display: block;
	margin: auto;
}
#home-register-btn:hover,
.btn-buy:hover {
	background-color: #ff66ff;
	border-color: #ff66ff;
  color: white;
  cursor: pointer; 
}

ul li {
	list-style: none;
}
.input {
	color: black;
	border: solid #d1d1e0;
	border-width: .05em;
	border-radius: 2.5px;
	display: block;
	margin: .75em auto;
	width: 11.5em;
	padding: 10px 10px;
}
.message-box {
	height: 10em;
}


/* MEDIA QUERIES */
@media (min-width: 1000px) {
	.logo {
		display: block;
	}
	.super-splash-bros {
		display: none;
	}
}
@media (min-width: 900px) {
	#home-title {
		font-size: 2em;
	}
	#home-subtitle,
	#home-subtitle-2 {
		font-size: 1em;
	}
	.btn-schedule,
	.btn-buy,
	.btn-submit {
		font-size: 1.25em;
	}
	.info {
		padding-left: 150px;
		padding-right: 150px;
	}
	.sign-up-img {
		float: right;
		margin-right: 200px;
		width: 250px;
		height: 250px;
	}
	.map-container {
		height: 20em;
	}
	.main-title {
		font-size: 3em;
	}
	.title {
		font-size: 2em;
	}
	.subtitle {
		font-size: 1.5em;
	}
	.blurb, .list-blurb {
		font-size: 1em;
	}
	.input {
		width: 17.5em;
	}
}
@media (min-width: 700px) {
	.about-img, .blurb {
		width: 50%;
	}
}

